body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1919;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .contenedor {
    background-color: #fff;
    border-radius: 8px;
    width: 500px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  h1 {
    color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005580;
  }

  .editable-text {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #05202d;
    color: white;
    outline: none; /* Elimina el contorno de enfoque predeterminado */
    min-height: 40px; /* Ajusta según sea necesario */
    overflow: auto; /* Permite el desplazamiento vertical cuando el contenido supera la altura */
  }
  
header{
  width: 100%;
  background-color: #005580;
}
#buttonDownload{
  display: none;
}
.downloadButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#buttonDownload h2{
  color: white;
  text-align: center;
}

.downloadButtons div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: rgb(211, 211, 211);
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  
}
.textRestore{
  color: white;
}

.textRestore a{
  color: white;
}

.downloadButtons div a{
  color: rgb(87, 87, 87);
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}
.returnDiv{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
a#returnButton{
  background-color: #005580;
 text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  margin-top: 20px;
}